<h1><%= flash[:message] %></h1>
<h5>Submitted info</h5>
<p>Name: <%= session[:name] %></p>
<p>Location:: <%= session[:location] %></p>
<p>Language: <%= session[:language] %></p>
<p>Comments: <%= session[:comment] %></p>
<a href="/reset"><button>Reset Counter</button></a>
