<h1 class='text-center'>Secrets</h1>
<div class='row'>
<% @secrets.each do |s| %>
	<div class='col-sm-6 col-md-4'>
		<div class="bs-callout bs-callout-danger transparent">
		<h3><%= s.content %></h3>
		<p class='blue-color'><%= s.likes.count %> likes</p>
		<% if current_user.secrets_liked.include? s %>
			<%= simple_form_for @unlike, html: {class: 'text-center'}, method: :delete do |f| %>
				<%= f.hidden_field :id, value: unlike_button(s.user, s) %>
				<%= f.button :submit, "Unlike", class: 'btn btn-danger' %>
			<% end %>
		<% else %>
			<%= simple_form_for @like, html: {class: 'text-center'} do |f| %>
				<%= f.hidden_field :user_id, value: session[:id] %>
				<%= f.hidden_field :secret_id, value: s.id %>
				<%= f.button :submit, "Like", class: 'btn btn-primary' %>
			<% end %>
		<% end %>
		<% if current_user == s.user %>
			<%= simple_form_for s, html: {class: 'text-center'}, method: :delete do |f| %>
				<%= f.hidden_field :id, value: s.id %>
				<%= f.button :submit, "Delete", class: 'btn btn-danger' %>
			<% end %>
		<% end %>
		</div>
	</div>
<% end %>
</div>